.book-card {
  width: 300px;
  height: 440px;
  background-color: var(--white);
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.1);
  margin: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.book-image {
  position: relative;
}
.book-image img {
  width: 280px;
  height: 280px;
}

.book-description {
  width: 100%;
}

.book-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-author {
  color: var(--x-light-secondary-color);
}

.book-genre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.book-genre p {
  margin: 0.25rem 0rem;
  border: 0.5px solid var(--x-light-secondary-color);
  padding: 0.25rem;
}

.book-title {
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-title h3 {
  margin: 0.25rem 0rem;
}
.book-card-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
